GEMINI_API_KEY=""
ANTHROPIC_API_KEY=""
OPENAI_API_KEY=""

setup whatever you want to, ideally python agent.py would only need gemini. But as per README, if you
want to use other models, you can set those keys as well.